.container {
  width: 982px;
  margin: auto;
  overflow: hidden;
}
.container > .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*小屏*/
.container > .row > .col-l-1 {
  width: 5%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-2 {
  width: 10%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-3 {
  width: 15%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-4 {
  width: 20%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-5 {
  width: 25%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-6 {
  width: 30%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-7 {
  width: 35%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-8 {
  width: 40%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-9 {
  width: 45%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-10 {
  width: 50%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-11 {
  width: 55%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-12 {
  width: 60%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-13 {
  width: 65%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-14 {
  width: 70%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-15 {
  width: 75%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-16 {
  width: 80%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-17 {
  width: 85%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-18 {
  width: 90%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-19 {
  width: 95%;
  height: 100%;
  float: left;
}
.container > .row > .col-l-20 {
  width: 100%;
  height: 100%;
  float: left;
}
.col-l-hide {
  display: none;
}
/*中屏*/
/*@media screen and (min-width: @width2){
  .container{
    width: @width2;
  }
  .col(s);
  .col-l-hide{
    display: block;
  }
  .col-s-hide{
    display: none;
  }
}*/
/*大屏*/
@media screen and (min-width: 1260px) {
  .container {
    width: 1260px;
  }
  .container > .row > .col-m-1 {
    width: 5%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-2 {
    width: 10%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-3 {
    width: 15%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-4 {
    width: 20%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-5 {
    width: 25%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-6 {
    width: 30%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-7 {
    width: 35%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-8 {
    width: 40%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-9 {
    width: 45%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-10 {
    width: 50%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-11 {
    width: 55%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-12 {
    width: 60%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-13 {
    width: 65%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-14 {
    width: 70%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-15 {
    width: 75%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-16 {
    width: 80%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-17 {
    width: 85%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-18 {
    width: 90%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-19 {
    width: 95%;
    height: 100%;
    float: left;
  }
  .container > .row > .col-m-20 {
    width: 100%;
    height: 100%;
    float: left;
  }
  .col-s-hide,
  .col-l-hide {
    display: block;
  }
}
div > [class*=col] {
  height: 100%;
  float: left;
}
